<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
          <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="sweetalert2/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">




    <!--     link for icons      -->
    <script defer src="/your-path-to-fontawesome/js/all.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <style>
        body {
            background-image: linear-gradient(to bottom left, rgb(5, 70, 131), rgb(212, 241, 255));
            font-family: 'Poppins', sans-serif;
        } 

        #l1 {
            margin-left: 30px;
        }

        #l2 {

            font-size: 1.3rem;
            color: #487905;
        }

        #l2:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .hyperlink {
            width: 50%;
            position: relative;
            left: 550px;

        }

        #l4 {

            margin-bottom: 20px;
            box-shadow: 5px 10px 8px 10px #888888;
            border-radius: 8px;
            padding: 20px;
            ;
            margin: 5px;
        }


        #l8 {

            margin-top: 20px;
            margin-bottom: 20px;
            /* box-shadow: 5px 10px 8px 10px #888888; */
            border-radius: 8px;
            padding: 20px;



        }

        #l8:hover {
            margin-top: 20px;
            margin-bottom: 20px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            padding: 20px;

        }

        .footer-clean {
            padding: 50px 0;
            background-image: linear-gradient(to bottom left, rgb(0, 1, 2), rgb(1, 70, 105));
            color: #4b4c4d;
        }

        .l9 {
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;

        }

        .footer-clean h3 {
            margin-top: 0;
            margin-bottom: 12px;
            font-weight: bold;
            font-size: 16px;
        }

        .footer-clean ul {
            padding: 0;
            list-style: none;
            line-height: 1.6;
            font-size: 14px;
            margin-bottom: 0;
        }

        .footer-clean ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.8;
        }

        .footer-clean ul a:hover {
            opacity: 1;
        }

        .footer-clean .item.social {
            text-align: right;
        }

        @media (max-width:767px) {
            .footer-clean .item {
                text-align: center;
                padding-bottom: 20px;
            }
        }

        @media (max-width: 768px) {
            .footer-clean .item.social {
                text-align: center;
            }
        }

        .footer-clean .item.social>a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin-left: 10px;
            margin-top: 22px;
            color: inherit;
            opacity: 0.75;
        }

        .footer-clean .item.social>a:hover {
            opacity: 0.9;
        }

        @media (max-width:991px) {
            .footer-clean .item.social>a {
                margin-top: 40px;
            }
        }

        @media (max-width:767px) {
            .footer-clean .item.social>a {
                margin-top: 10px;
            }
        }

        .footer-clean .copyright {
            margin-top: 14px;
            margin-bottom: 0;
            font-size: 13px;
            opacity: 0.6;
        }


        .responsive {
            max-width: 100%;
            height: auto;
        }

        body {
            margin: 0;
            font-family: Arial
        }

        .l15 {
            color: white;
            font-weight: bold;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
            box-shadow: 5px 10px 8px 10px #888888;
            border-radius: 8px;


        }

        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 26px;
            text-decoration: none;
            font-size: 17px;
        }


        .topnav .icon {
            display: none;
        }

        .dropdown {
            float: left;
            overflow: hidden;
        }

        .dropdown .dropbtn {
            font-size: 17px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .topnav a:hover,
        .dropdown:hover .dropbtn {
            background-color: #555;
            color: white;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
            color: black;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        @media screen and (max-width: 600px) {

            .topnav a:not(:first-child),
            .dropdown .dropbtn {
                display: none;
            }

            .topnav a.icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 600px) {
            .topnav.responsive {
                position: relative;
            }

            .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }

            .topnav.responsive .dropdown {
                float: none;
            }

            .topnav.responsive .dropdown-content {
                position: relative;
            }

            .topnav.responsive .dropdown .dropbtn {
                display: block;
                width: 100%;
                text-align: left;
            }
        }

        #l6 {
            display: block;
            margin-left: auto;
            margin-right: auto;

        }

        #l7 {
            position: relative;
            bottom: 180px;

            border-radius: 5px;
            ;
        }

        /* navbar css */
        .navbar {
            padding: 0 1rem 0 1rem;
            margin: 2px 10px 10px 10px;
            background-image: linear-gradient(to bottom left, rgb(0, 1, 2), rgb(1, 70, 105));
            border-radius: 15px;
        }

        .navbar:hover {
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
        }

        .nav-item {

            padding: 0 18px;
            color: white;
        }

        .nav-link {
            font-size: 1.2rem;
            font-family: 'Poppins', sans-serif;
        }

        .nav-link:hover {

            border-bottom: 4px solid #f8f2f4;
        }

        .nav-link:active {

            border-bottom: 4px solid #f8f2f4;
        }


        .icons {
            margin: 1px 5px 1px 5px;
            color: #607d8b;
        }

        .icons:hover {
            color: #ff4c68;
        }

        h1 {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: bold;
            color: #fff;
            margin: 50px 0;
        }




        .counters {
            width: 100%;
            display: block;
        }

        @media (min-width:768px) {
            .counters {
                display: flex;
                justify-content: space-between;
            }
        }

        .item {
            display: flex;
            flex-direction: column;
            padding: 2rem 2rem;
            color: #fff;
        }

        .item i {
            font-size: 2rem;
        }

        .counter {
            margin-top: 10px;
            font-size: 2rem;
            font-weight: bold;
        }

        .counter__text {
            font-size: 1.1rem;
        }
    </style>

</head>

<body>

    <!-- Navbar starts  -- >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link " aria-current="page" href="#">Login</a>
            <a class="nav-link " aria-current="page" href="#">Sign Up</a>
          </div>
        </div>
      </div>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <a class="navbar-brand" href=""><img src="images/logo.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <section class="pt-5 pb-5">
        <div class="container">
            

    <div data-aos="zoom-in-up" class="container" id="l8">

        <div class="row">

            <!-- Start Left Side -->
            <div class="col-md-12">

                <!-- Start Big Heading -->
                <div >
                  <center> <h1 style="font-weight: bold; color: yellow;"> Hey <%=name%>'! </h1>
                  <h1 style="font-weight: bold; color: yellow;"> Welcome E Cell Portal  </h1></center> 
                </div>

               
                <a href="/download"><button>Get Zip</button></a>

            <!-- Vimeo Iframe -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                    </div>
                </div>

            </div>

        </div>

               <script type="text/javascript">
                   const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
              }
            })

            Toast.fire({
              icon: 'success',
              title: 'Welcome <%=name%>'
            })
               </script>


        </div>

    </section>
        <div class="container" id="l8">

        <div class="row">

            <!-- Start Left Side -->
            <div class="col-md-12">

                <!-- Start Big Heading -->
                <div class="big-title">
                    <h1 style="font-weight: bold;color: #fff">How Much You Loved Us</h1>
                </div>

                <!-- End Big Heading -->

                <!-- Some Text -->

                <div  data-aos="fade-up"
     data-aos-duration="3000" class="counters">
                    <div class="item">

                        <span class="counter" data-target="1200"></span>
                        <h4 class="counter__text">Incubatee</h4>
                    </div>
                    <div class="item">

                        <span class="counter" data-aos="fade-up" data-target="13000"></span>
                        <span class="counter__text">Members</span>
                    </div>
                    <div class="item">

                        <span class="counter" data-target="10002"></span>
                        <span class="counter__text">Successfull Startup</span>
                    </div>
                </div>

                <!-- Divider -->
                <div class="hr1" style="margin-bottom:14px;"></div>

                <!-- Divider -->
                <div class="hr1" style="margin-bottom:18px;"></div>

                <!-- Button -->

            </div>
            <!-- End Left Side -->

            <!-- Vimeo Iframe -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                    </div>
                </div>

            </div>

        </div>

    </div>

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>




    <!-- Navbar -->

    <!-- <img src="ecelllogo.png" id="l6" width="50%"  alt="" > -->




<br><br><br>
   

    <!-- End Subscribe & Social Links Widget -->

    <!-- Start Copyright -->
    <div class="footer-clean">
        <footer class="l9">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item l15">
                        <h3>Explore</h3>
                        <ul>
                            <li><a href="https://mitaoe.ac.in/opportunities.php">CAREERS </a></li>
                            <li><a href="https://alumni.mitaoe.ac.in/" target="_blank">ALUMNI</a></li>
                            <li><a href="https://mitaoe.ac.in/contact-us.php">CONTACT</a></li>

                            <li><a href="https://mitaoe.ac.in/blog.php">BLOG</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item l15">
                        <h3>IMP Links</h3>
                        <ul>
                            <li><a href="https://mitaoe.ac.in/mitaoe-nirf.php">NIRF</a></li>
                            <li><a href="https://mitaoe.ac.in/mandatory-disclosure.php">MANDATORY DISCLOSURE</a></li>



                            <li><a href="https://mitaoe.ac.in/mitaoe-downloads.php">DOWNLOADS</a></li>
                            <li><a href="https://mitaoe.ac.in/">READ MORE</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-4 col-md-3 item l15">
                        <h3>IMP Links</h3>
                        <ul>
                            <li><a href="https://mitaoe.ac.in/mitaoe-quality-assurance.php">IQAC</a></li>


                            <li><a href="https://mitaoe.ac.in/mitaoe-statutory-compliance.php">STATUTORY COMPLIANCE</a>
                            </li>


                            <li><a href="https://mitaoe.ac.in/mitaoe-committees.php">GRIEVANCE REDRESSAL</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <div class="socials">
                            <a target="_blank" href="https://www.facebook.com/MITAOEOfficial/">
                                <!-- <img src="face.png" width="50" height="50"> -->
                                <i class="fab fa-facebook fa-3x icons"></i>
                            </a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCL4DWs9R4irwWUTFg8BYsOQ">
                                <!-- <img src="you.png" width="50" height="50"> -->
                                <i class="fab fa-youtube fa-3x icons"></i>
                            </a>
                            <a target="_blank" href="https://twitter.com/MITAOE">
                                <!-- <img src="twi.png" width="50" height="50"> -->
                                <i class="fab fa-twitter fa-3x icons"></i>
                            </a>
                            <a target="_blank" href="https://www.instagram.com/mitacademyofengineering/" width="50"
                                height="50">
                                <i class="fab fa-instagram fa-3x icons"></i>
                            </a>
                            <a target="_blank" href="https://www.linkedin.com/company/mit-academy-of-engineering/">
                                <!-- <img src="in.png" width="50" height="40"> -->
                                <i class="fab fa-linkedin-in fa-3x icons"></i>
                            </a>



                            <!-- End Copyright -->



                            <!-- </div>
                      <p class="copyright">Company Name © 2018</p>
                  </div> -->

                        </div>
                    </div>
        </footer>
    </div>
    <script>
        const counters = document.querySelectorAll(".counter");

        counters.forEach(counter => {
            counter.innerText = '0'
            const target = +counter.getAttribute('data-target');
            const interval = target / 100;

            const updateCounter = () => {
                const value = +counter.innerText;
                if (value < target) {
                    counter.innerText = Math.ceil(value + interval);

                    setTimeout(() => {
                        updateCounter()
                    }, 20);
                }
            }

            updateCounter();

        });

    </script>



    </footer>



    <!-- End Footer -->
    </div>
    <!-- End Container -->

    <!-- Go To Top Link -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>



</body>

</html>